/** COLORS **/

@define-color black       #1d2021;
@define-color darkgray    #928374;
@define-color darkred     #cc241d;
@define-color red         #fb4934;
@define-color darkgreen   #98971a;
@define-color green       #b8bb26;
@define-color darkyellow  #d79921;
@define-color yellow      #fabd2f;
@define-color darkblue    #458588;
@define-color blue        #83a598;
@define-color darkmagenta #b16286;
@define-color magenta     #d3869b;
@define-color darkcyan    #689d6a;
@define-color cyan        #8ec07c;
@define-color lightgray   #a89984;
@define-color white       #ebdbb2;

@define-color bg @black;
@define-color fg @white;

/** \COLORS **/

/** BAR **/

* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
}

window#waybar {
	background: transparent; /* allow gaps to be visible */
}

window > box {
    font-size: 12pt;
    font-family: Roboto;
	background-color: @bg;
    color: @fg;
	padding: 2px;

	/* gaps */
    margin: 4px;
	margin-top: 0;
}

/** \BAR **/


/** MODULES **/

/* all */
#workspaces button, #pulseaudio, #backlight, #network, #battery, #clock {
	background-color: @darkgray;
	color: @bg;
	/* top right bottom left */
	padding: 6px 7px 4px 7px;
	border-radius: 4px;
}
/* \all */

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @fg;
}

#workspaces button {
	padding-left: 10px;
	padding-right: 10px;
	background-color: @bg;
	color: @fg;
}

#workspaces button.active {
	background-color: @darkcyan;
    /* box-shadow: inset 0 -3px #ffffff;*/
	color: @bg;
}
#workspaces button.special {
	background-color: @darkred;
	color: @bg;
}

#battery.warning:not(.charging) {
    background-color: @darkyellow;
}
#battery.critical:not(.charging) {
    background-color: @darkred;
}
#battery.charging {
	background-color: @darkgray;
}

/** \MODULES **/
